<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
    <servlet-name>FamilyMemberServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.FamilyMemberServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsuredTypeServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.InsuredTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OrderFormServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.OrderFormServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.ServerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerTraceServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.ServerTraceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServerWorkspaceServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.ServerWorkspaceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiceContentServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.ServiceContentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiceCostServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.ServiceCostServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServiceTypeServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.ServiceTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>WorkerServlet</servlet-name>
    <servlet-class>com.yilisha.servlet.WorkerServlet</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>FamilyMemberServlet</servlet-name>
    <url-pattern>/FamilyMemberServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsuredTypeServlet</servlet-name>
    <url-pattern>/InsuredTypeServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderFormServlet</servlet-name>
    <url-pattern>/OrderFormServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerServlet</servlet-name>
    <url-pattern>/ServerServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerTraceServlet</servlet-name>
    <url-pattern>/ServerTraceServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServerWorkspaceServlet</servlet-name>
    <url-pattern>/ServerWorkspaceServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceContentServlet</servlet-name>
    <url-pattern>/ServiceContentServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceCostServlet</servlet-name>
    <url-pattern>/ServiceCostServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ServiceTypeServlet</servlet-name>
    <url-pattern>/ServiceTypeServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>WorkerServlet</servlet-name>
    <url-pattern>/WorkerServlet/*</url-pattern>
  </servlet-mapping>
</web-app>
